:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months {
  grid-area: months;
}
.days {
  grid-area: days;
}
.squares {
  grid-area: squares;
}

.graph {
  display: inline-grid;
  grid-template-areas:
    "empty months"
    "days squares";
  grid-template-columns: auto 1fr;
}

.months {
  display: grid;
  grid-template-columns:
    calc(var(--week-width) * 4) /* Jan */
    calc(var(--week-width) * 4) /* Feb */
    calc(var(--week-width) * 4) /* Mar */
    calc(var(--week-width) * 5) /* Apr */
    calc(var(--week-width) * 4) /* May */
    calc(var(--week-width) * 4) /* Jun */
    calc(var(--week-width) * 5) /* Jul */
    calc(var(--week-width) * 4) /* Aug */
    calc(var(--week-width) * 4) /* Sep */
    calc(var(--week-width) * 5) /* Oct */
    calc(var(--week-width) * 4) /* Nov */
    calc(var(--week-width) * 5); /* Dec */
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
  border-radius: 1px;
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

/* Other styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  background-color: #eef4ed;
}

.graph {
  padding: 20px;
  margin: 120px;
  margin-left: 10px;
  margin-right: 10px;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #ffffff;
  color: transparent;
  border-radius: 2px;
}

.squares li[data-level="1"] {
  background-color: #ff6384;
}

.squares li[data-level="2"] {
  background-color: #ff9f40;
}

.squares li[data-level="3"] {
  background-color: #ffcd56;
}

.squares li[data-level="4"] {
  background-color: #4bc0c0;
}

.squares li[data-level="5"] {
  background-color: #36a2eb;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 70%;
  height: 100%;
  margin: auto;
  margin-bottom: 30px;
  padding: 15px;
  background-color: rgb(156, 192, 252);
}

.section {
  color: rgb(1, 7, 19);
  margin: 10px;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
  background: rgba(255, 255, 255, 0.87);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border-color: 5px solid rgba(255, 255, 255, 0.18);
  border-top: 8px solid rgb(66, 133, 244);
}

.section p {
  font-size: 15px;
}

.required {
  color: red;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: rgb(47, 47, 255);
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid rgb(177, 177, 177);
  margin-bottom: 6px;
  background-color: transparent;
}

input[type="text"]:focus {
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 2px solid rgb(88, 88, 88);
}

input[type="submit"] {
  width: 150px;
  height: 30px;
  font-size: 14px;
  font-weight: 300;
  color: white;
  border: none;
  background-color: rgb(0, 89, 233);
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

input[type="reset"] {
  width: 150px;
  height: 30px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(0, 89, 233);
  border: none;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-left: 20px;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(50, 54, 124, 0.37);
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.addmood {
  margin: 80px 25px;
}

.card {
  justify-items: center;
}
